.container{
    
     height :300px;
     width: 300px;
     margin: 170px 0px 0px 500px;
}
button{
    height: 60px;
    width: 60px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border:thin solid black;
    background-color: #faebd7;
}
button:hover{
    background-color: aqua;
}
#zero{
    height: 60px;
    width: 120px;
}
.row,.row1{
    margin-left: 30px;
    font-size: 0px;
    
}

.res{
    margin-left: 30px;
    width: 240px;
    height: 70px;
    background-color:  #faebd7;
}